<div class="row w-100">
    <div class="col-3">

    </div>
    <div class="col-9 p-3  text-center ">
        <h1 style="color: rgb(20, 57, 161);" class="mb-3">Enjoy NetBanking with <span class="text-warning">SBI</span></h1>
        <p class="text-start w-75 container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, nihil ea
            architecto, fuga possimus modi porro eos dolor nulla blanditiis nesciunt eligendi ex atque sit maiores
            veritatis dolores ipsa sunt! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore corrupti
            culpa perspiciatis quae deserunt ea provident labore ut incidunt asperiores. Quibusdam harum nulla delectus
            eaque! Repudiandae facere et sequi nesciunt.</p>
        <img id="d" class="w-50 p-2" src="https://i.postimg.cc/1zp26dnr/12085313-20944139.jpg" alt="">
    </div>

</div>