<div class="row w-100">
    <div class="col-3 p-3 mb-2" style="background-color: rgb(20, 57, 161);">
        <div class="col-3 w-100" style="background-color: rgb(20, 57, 161);">
            <div class="list-group border border-0 w-100 ">
                <button id="d" style="background-color: rgb(20, 57, 161);color: white;" type="button"
                    class="list-group-item list-group-item-action border-0">
                    <i class="fa-solid fa-user text-warning ms-3 me-2"></i>View Profile</button>
                <hr class="text-white">
                <button id="d" style="background-color: rgb(20, 57, 161);color: white;" type="button"
                    class="list-group-item list-group-item-action border-0">
                    <i class="fa-solid fa-sack-dollar text-warning ms-3 me-2"></i>Check Balance</button>
                <hr class="text-white">
                <button id="d" style="background-color: rgb(20, 57, 161);color: white;" type="button"
                    class="list-group-item list-group-item-action border-0">
                    <i class="fa-solid fa-money-bill-transfer text-warning ms-3 me-2"></i>Money Transfer</button>
                <hr class="text-white">
                <button id="d" style="background-color: rgb(20, 57, 161);color: white;" type="button"
                    class="list-group-item list-group-item-action border-0">
                    <i class="fa-solid fa-table-list text-warning ms-3 me-2"></i>Account Statement</button>
                <hr class="text-white">
                <button id="d" style="background-color: rgb(20, 57, 161);color: white;" type="button"
                    class="list-group-item list-group-item-action border-0">
                    <i class="fa-solid fa-person-circle-minus text-warning ms-3 me-2"></i>Delete Account</button>
                <hr class="text-white">
                <button id="d" style="background-color: rgb(20, 57, 161);color: white;" type="button"
                    class="list-group-item list-group-item-action border-0">
                    <i class="fa-solid fa-right-from-bracket text-warning ms-3 me-2"></i>Log out</button>
                <hr class="text-white">

            </div>

        </div>
        <div class="text-center text-white mt-3">
            <i class="fa-solid fa-hand-holding-dollar fa-2x"></i>
        </div>
    </div>
    <div class="col-9 p-3  text-center ">
        <h1 style="color: rgb(20, 57, 161);" class="mb-3">Enjoy NetBanking with <span class="text-warning">SBI</span>
        </h1>
        <p class="text-start w-75 container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, nihil ea
            architecto, fuga possimus modi porro eos dolor nulla blanditiis nesciunt eligendi ex atque sit maiores
            veritatis dolores ipsa sunt! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore corrupti
            culpa perspiciatis quae deserunt ea provident labore ut incidunt asperiores. Quibusdam harum nulla delectus
            eaque! Repudiandae facere et sequi nesciunt.</p>
        <img id="d" class="w-50 p-2" src="https://i.postimg.cc/1zp26dnr/12085313-20944139.jpg" alt="">
    </div>

</div>