<div >
    <div class="text-center row  w-100  mt-2">
        <div class="col-6 mt-5">
            <form id="d" style="background-color: rgb(20, 57, 161); border-radius: 10px;"
                class="mb-5 p-3 w-75 container " action="">
                <h1  style="color:white ; ">Sign Up</h1>
                <div class="mt-2 p-2">
                    <input [(ngModel)]="acno" id="u1" name="acno" class="form-control mt-2 p-2" type="text" placeholder="Acc no">
                </div>
                <div class="mt-2 p-2">
                    <input [(ngModel)]="uname" id="p1" name="uname" class="form-control mt-2 p-2" type="text" placeholder="user name">
                </div>
                <div class="mt-2 p-2">
                    <input [(ngModel)]="psw" id="p1" name="ps1" class="form-control mt-2 p-2" type="password" placeholder="enter password">
                </div>
                <div class="mt-2 p-2">
                    <input [(ngModel)]="cpsw" id="p2" name="ps2" class="form-control mt-2 p-2" type="password" placeholder="confirm password">
                </div>

                <button (click)="signup()" type="button" class="btn btn-outline-light m-2">SignUp</button>
            </form>
        </div>
        <div class="col-6 mt-5 p-3">
            <img id="d" style="height: 485px;" src="https://i.postimg.cc/PrkrZgRP/bank.png" alt="">
        </div>

    </div>
</div>